extends layout

block content
    div(class='container')
      div(class='row row-content')
        div(class='col-12')
          h2 Sign up for a new account
        div(class='col-12 col-md-9')
          form(method='POST' action='')
            div(class='form-group row')
              label(for='firstName' class='col-md-2 col-form-label') First Name
              div(class='col-md-10')
                input(type='text' class='form-control' id='firstName' name='firstName' placeholder='First Name')
            div(class='form-group row')
              label(for='lastName' class='col-md-2 col-form-label') Last Name
              div(class='col-md-10')
                input(type='text' class='form-control' id='lastName' name='lastName' placeholder='Last Name')
            div(class='form-group row')
              label(for='username' class='col-md-2 col-form-label') Username
              div(class='col-md-10')
                input(type='text' class='form-control' id='username' name='username' placeholder='Username')
            div(class='form-group row')
                label(for='password' class='col-md-2 col-form-label') Password
                div(class='col-md-10')
                  input(type='password' class='form-control' id='password' name='password' placeholder='Password')
            div(class='form-group row')
                label(for='password' class='col-md-2 col-form-label') Reconfirm Password
                div(class='col-md-10')
                  input(type='password' class='form-control' id='passwordRetype' name='passwordRetype' placeholder='Retype Password')
            div(class='form-group row')
                label(for='dateOfBirth' class='col-md-2 col-form-label') Date of Birth
                div(class='col-md-10')
                  input(type='date' class='form-control' id='dateOfBirth' name='dateOfBirth')
            div(class='form-group row')
                div(class='offset-md-2 col-md-10')
                  button(type='submit' class='btn btn-success') Register
      if errors
        ul
          for error in errors
            li!= error.msg